<!DOCTYPE html>
<html lang="fr">
    <head>
        <% include ./partials/head %>
    </head>
    <body>

        <header>
            <% include ./partials/header %>
        </header>

        <main>
            <section class="quote-container">
                <image src="<%= image.webformatURL %>" alt="<%= image.tags %>" class="image-quote" />
                <blockquote id="quote">
                    <em><%= quote.quoteText %></em>
                    <%= (quote.quoteAuthor) ? '− ' + quote.quoteAuthor : '' %>
                    <!-- <%= quote.quoteLink %> -->
                </blockquote>
            </section>

            <section class="action">
                <button><i class="far fa-image icon"></i> Recharger l'image</button>
                <button><i class="far fa-comment-alt icon"></i> Recharger le texte</button>
                <button><i class="fa fa-download icon"></i> Sauvegarder</button>
            </section>
        </main>

        <footer>
            <% include ./partials/footer %>
        </footer>
    </body>
</html>